<h1>SIGN UP!</h1>

<form action= " <%= users_url %> " method="post">
  <label> USERNAME:
    <input type="text" name="user[username]" value="">
  </label>

  <br/>

  <label> PASSWORD:
    <input type="password" name="user[password]" value="">
  </label>
    <input type="submit" value="submit">
</form>
